/* side right */
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 420px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    float: right;
}
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    background-color: #1f1f1f;
}
.modal.right .modal-body {
    padding: 15px 15px 80px;
}
.modal.right.fade .modal-dialog {
    right: 0px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.right.fade.in .modal-dialog {
    right: 0 !important;
}
.cust_card_d {
    background-color: #1f1f1f;
    border: 1px solid #666769 !important;
    padding: 0 10px;
}
.cust_card_w {
    background-color: #f4f4f4;
    border: none !important;
    padding: 0 10px;
}
.cust_card_w .form-control-w {
    background-color: #fff !important;
}
.cust_card_w .form-control-w2 {
    background-color: #fff !important;
    height: 200px;
}
.div_separate_d {
    width: 100%;
    height: 25px;
    background-color: #1f1f1f;
}
.div_separate_w {
    width: 100%;
    height: 25px;
    background-color: #ffffff;
}
/* search */
.app-search__button {
    left: 0 !important;
    right: auto;
}
.app-search__input {
    padding-left: 30px;
    padding-right: none;
    background-color: var(--bg-searchbar) !important;
}
.btn_filtre {
    width: 87px !important;
    height: 36px !important;
    border-radius: 8px !important;
    border: 1px solid #D0D5DD !important;
    box-shadow: 0px 4px 8px -2px #00000014 !important;
}
::ng-deep .mat-icon-button {
    margin-top: 10px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    height: 30px !important;
    border-radius: 0 !important;
    border: 1px solid #8b8b8b !important;
    line-height: 0 !important;
}
