.footer {
    bottom: 0;
    width: 100%;
    font-weight: 400;
    padding: 8px 1rem;
    font-size: calc(0.875rem - 0.05rem);
    position: fixed;
    background: #f3f3f3;
    font-family: "Roboto", sans-serif;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.text-muted {
    color: #686868 !important;
}
.fw-900 {
    font-weight: 900;
}
