<footer class="footer content-light" id="footer">
  <div class="row" *ngIf="">
    <div class="col-md-8 col-lg-9">
      <label class="text-muted">
        Copyright © 2023
        <a href="https://legipen.net" target="_blank">
          <span class="c-app-1 fw-900">Proge</span>
          <span class="c-app-2 fw-900">pef</span>
        </a>. {{'footer.reserved' | translate}}
      </label>
    </div>
    <div class="col-md-4 col-lg-2">
        <span class="c-app-1 fw-900">Proge</span>
        <span class="c-app-2 fw-900 mr-1">pef</span>
        <i class="mdi mdi-heart" style="color: #f14099;"></i>
    </div>
  </div>
</footer>