/* --- En-tête --- */
.header-section {
  background: linear-gradient(135deg, #f8f9fb, #ffffff);
  border-left: 5px solid #0d6efd;
  transition: all 0.3s ease;
}
.header-section:hover {
  box-shadow: 0 4px 12px rgba(13, 110, 253, 0.1);
}

/* --- Bouton Export --- */
.btn-export {
  background-color: #e8f5e9;
  border: 1px solid #246ff1;
  color: #246ff1;
  font-weight: 500;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.btn-export:hover {
  background-color: #246ff1;
  color: #fff;
  box-shadow: 0 4px 10px rgba(76, 175, 80, 0.3);
}

.filter-section {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
}

/* Labels */

/* +++++++++++++++++++++++++=style pour le tableau +++++++++++++++ */
.card {
  border-radius: 1rem;
}

.custom-table {
  font-size: 0.95rem;
  border-radius: 0.75rem;
  overflow: hidden;

  .table-header {
    background-color: #f8f9fa;
    font-weight: 600;
  }

  tr:hover {
    background-color: rgba(13, 110, 253, 0.05);
    transition: background-color 0.3s;
  }

  .btn-detail {
    border-radius: 0.5rem;
    font-size: 0.85rem;
    padding: 0.25rem 0.5rem;
    transition: all 0.2s ease;
  }
  .btn-detail:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(13, 110, 253, 0.2);
  }

  .badge {
    font-size: 0.8rem;
    padding: 0.35em 0.65em;
    border-radius: 0.5rem;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .custom-table {
    font-size: 0.85rem;
  }
}

.card {
  border-radius: 1rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}

/* Table */
.custom-summary-table {
  font-size: 0.95rem;
  border-radius: 0.75rem;
  overflow: hidden;

  tbody tr:hover {
    background-color: rgba(13, 110, 253, 0.05);
    transition: background-color 0.3s ease;
  }

  th {
    font-weight: 600;
    color: #495057;
  }

  td {
    vertical-align: middle;
  }

  .badge {
    font-size: 0.85rem;
    border-radius: 0.5rem;
  }

  .bg-pink {
    background-color: #ff77a9;
    color: #fff;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .custom-summary-table {
    font-size: 0.85rem;
  }
}

.table thead th {
    vertical-align: bottom;
    background-color: #2196f3;
    color: white;
     border-bottom: 2px solid #dee2e6; 
}

/* ±±±±±±±±±±±±±±±±±±±±±±±±.  style pour le optiom rechercher ±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±± */
.enhanced-toolbar {
  background: #f8fafc;
  border-radius: 12px;
  padding: 18px 18px 10px 18px;
}

.full-width {
  width: 100%;
}

.mat-form-field {
  font-size: 0.9rem !important;
}

.select-search-box {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  border-bottom: 1px solid #e0e0e0;
}

.select-search-box input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.85rem;
}

.search-icon {
  font-size: 1.1rem;
  margin-left: 6px;
  opacity: 0.6;
}

.btn-refresh {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  border: none;
  background: #e9f3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
  margin-top: -70px;
}

.btn-refresh i {
  font-size: 1.4rem;
  color: #052f6e;
}

.btn-refresh:hover {
  background: #052f6e;
}

.btn-refresh:hover i {
  color: #fff;
}

/* ±±±±±±±±±±±±±±±±±±±±±±±±. fin style pour le optiom rechercher ±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±± */