@media print {
  @page {
    padding: 0 !important;
    margin: 0 !important;
    size: auto !important;
  }
  body::before {
    content: "";
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/filigramme.png') !important;
    background-size: 100% auto !important; /* Maintain width, allow height to grow */
    background-position: top center !important;
    background-repeat: no-repeat !important;
    z-index: -1;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  .main-container {
    background-image: url('/assets/images/filigramme.png') !important;
    background-size: 100% auto !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  thead {display: table-header-group;}
  tfoot {display: table-footer-group;}
  tbody {display: table-row-group;}
  .page {
    margin: 0 3% !important;
    font-family: Inter !important;
    font-size: 25px !important;
    font-weight: 500;
    line-height: 16.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    -webkit-print-color-adjust: exact !important;
  }
  .sec_headline {
    width: 99% !important;
    margin-top: 1% !important;
    margin-bottom: .5% !important;
  }
  .block_cabinet {
    height: 85px !important;
    width: 35% !important;
    margin-left: 6.5% !important;
    padding-right: 20px !important;
  }
  .block_cab {
    width: 33% !important;
    margin-top: 20px !important;
    margin-left: 34% !important;
  }
  .mb_con {
    margin-bottom: 20px !important;
  }
  .mb_con2 {
    margin-bottom: 50px !important;
  }
  .inv_blf {
    margin-left: -0.9% !important;
  }
  .first_cab {
      margin-bottom: -6% !important;
  }
  .second_cab {
      margin-bottom: -8% !important;
  }
  .third_cab {
      margin-bottom: -11% !important;
  }
  .siege_parquet {
    margin-top: 10px !important;
    margin-bottom: -20px !important;
  }
  .cour_aa {
    width: 14% !important;
  }
  .mjdh {
    margin-left: 20% !important;
    margin-right: 12% !important;
    margin-top: 2% !important;
  }
  .mjdh_cote {
    margin-left: 18% !important;
    margin-right: 12% !important;
    margin-top: 2% !important;
  }
  .mjdh .mjdh_2,
  .mjdh_cote .mjdh_2 {
    margin-bottom: -10% !important;
  }
  /* flat border */
  .mjdh_flat {
    margin-left: 15% !important;
    margin-right: 12% !important;
    margin-top: 3% !important;
  }
  .mjdh_flat .mjdh_2 {
    margin-bottom: -15% !important;
  }
  /* /flat border */
  .emblem_ci {
    width: 14% !important;
  }
  .mjdh_1 {
    margin-bottom: 20px !important;
  }
  .butsparq,
  .butodji {
    margin-top: 12px;
  }
  .butsparq {
    margin-left: 0 !important;
  }
  .butodji {
    margin-right: 1% !important;
  }
  .head_img {
    margin-top: -5px !important;
  }
}
.div_shadow {
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px 0px rgba(0, 0, 0, 0.2);
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.filigramme {
  background-image: url('/assets/images/filigramme.png') !important;
  background-repeat: no-repeat !important;
  background-position: center center center center  !important;
  background-size: 100% !important;
  -webkit-print-color-adjust: exact !important;
  height: 100% !important;
}
.wt_border {
  background-image: url('/assets/images/forme/flat_rec.png') !important;
  background-repeat: no-repeat !important;
  background-position: center center center center  !important;
  background-size: 100% !important;
  height: 100% !important;
  -webkit-print-color-adjust: exact !important;
  padding-top: 12px !important;
}

/* flat border */
.mjdh_flat {
  margin-left: 22%;
  margin-right: 17%;
  margin-top: 5px;
}
.table_flat {
  width: 97%;
  margin-left: 2%;
}
.separtor {
  width: 100%;
  margin: 2% 0;
  border: 1px solid #6c757d;
}
/* /flat border */
.page-header,
.page-footer {
  width: 102.7%;
  margin-left: -14.5px;
}
.page {
  font-family: montserrat;
  font-size: 25px;
  font-weight: 500;
  line-height: 16.5px;
  line-height: 1.5;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.ta_justify {
  text-align: justify !important;
}
.sec_headline,
.wd_100 {
  width: 100%;
}
.cour_aa {
  width: 10%;
  margin-left: 2%;
  margin-top: -4%;
}
.udt_ci {
  width: 60%;
  margin-left: 22%;
  margin-right: 22%;
}
.mjdh_cote,
.mjdh {
  margin-left: 25%;
  margin-right: 17%;
  margin-top: 5px;
}
.mjdh_1 {
  width: 80%;
}
.mjdh_2 {
  width: 40%;
  margin-left: 20%;
}
.emblem_ci {
  width: 10%;
  margin-top: -4%;
}
.butsparq {
  width: auto;
  height: 37px;
  min-width: 200px;
  margin-left: 2%;
  border-radius: 5.87px;
  padding-right: 8.8px;
  padding-bottom: 5.87px;
  padding-left: 8.8px;
  text-align: center;
  background: #404040;
  color: #FFFFFF;
  box-shadow: 0px 3px 2px -2px #0000000F;
}
.butodji {
  width: auto;
  height: 37px;
  min-width: 200px;
  float: right;
  border-radius: 5.87px;
  border-width: 0.73px;
  font-size: 20px;
  margin-right: 2%;
  padding-top: 3.87px;
  padding-right: 8.8px;
  padding-left: 8.8px;
  text-align: center;
  border: 0.73px solid #D0D5DD;
  box-shadow: 0px 3px 2px -2px #0000000F;
}
.foot_center {
  text-align: center;
  margin-bottom: -3px;
}
.head_img {
  width: 97.5%;
  margin-left: 14px;
  margin-top: -12px;
}
.foot_img {
  width: 97.5%;
  margin-left: 14px;
  margin-top: -12px;
}
.foot_imgparq {
  width: 100%;
  margin-top: -12px;
}
.siege_parquet {
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
}
.bg_sparque {
  padding: 0px 10px;
  margin-bottom: 0 !important;
  background: #107C41;
  border: 1px solid #107C41;/* 107C41 efe7e1*/
  color: #FFFFFF;
  font-size: 12px;
}
.cotform_sp {
  text-align: left !important;
  margin-top: 8px !important;
  margin-left: 12px !important;
  font-family: Nunito !important;
}
/* block cabinet juge et rp-ri */
.bloc_rp_ri {
  width: 30%;
}
.bloc_num_parque {
  width: 60%;
}
.block_cabinet {
  width: 25%;
  height: 87px;
  margin-right: 20%;
  margin-left: 8%;
  background-image: url('/assets/images/forme/bg_cabinet.png');
  background-size: cover;
  -webkit-print-color-adjust: exact;
}
.bloc_num_f {
  width: 10%;
}
.div_rp {
  margin-bottom: 10px;
}
.num_rp {
  margin-bottom: 20px;
}
.num_rp
.num_ri {
  margin-left: 5%;
}
.libelle_num {
  margin-left: 25%;
  margin-top: -10%;
}
.lib_initial {
  font-family: Nunito;
  margin-right: 10%;
  margin-top: -3%;
  margin-left: 20px;
  font-weight: 600;
  font-size: 20px;
}
.rectangle {
  width: 60px;  /* Largeur du rectangle */
  height: 35px; /* Hauteur du rectangle */
  background-color: #107C41; /* Couleur du rectangle */
  position: relative;
  text-align: center;
  color: #FFFFFF;
}
.rectangle::after {
  content: '';
  position: absolute;
  right: -27px;  /* Positionne la flèche à droite du rectangle */
  top: 50%;
  transform: translateY(-50%);
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 30px solid #107C41; /* Couleur de la flèche */
}
.first_cab {
  font-family: Nunito;
  font-size: 15px;
  font-weight: 600;
  line-height: 0px;
  letter-spacing: 0em;
  padding-top: 14px;
  margin-bottom: -6%;
  text-align: center;
}
.second_cab {
  font-family: Nunito;
  font-size: 12px;
  font-weight: 600;
  line-height: 0px;
  letter-spacing: 0em;
  margin-bottom: -6%;
  text-align: center;
}
.third_cab {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 0px;
  letter-spacing: 0em;
  margin-bottom: -11%;
  text-align: center;
}
.four_cab {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  letter-spacing: 0em;
  color: #107C41;
}
.triangle-right {
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
  border-left: 20px solid #107C41; /* Couleur du triangle */
  -webkit-print-color-adjust: exact !important;
}
.my_rp {
  margin-left: 4%;
  width: 55px;
  padding: 1px 4px 0px 12px;/* top  right bottom left */
  background: #107C41;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  -webkit-print-color-adjust: exact !important;
}
.my_rppaque {
  margin-left: 4%;
  width: 55px;
  padding: 1px 4px 0px 12px;/* top  right bottom left */
  background: linear-gradient(45deg, black, transparent);
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  -webkit-print-color-adjust: exact !important;
}
.rpri_num {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 15px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}
.rpri_numparqe {
  font-family: Calibri;
  font-style: italic;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin-left: 15px;
  text-align: left;
  color: #000000;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.h-24p {
  height: 24px;
}
.fs-23 {
  font-size: 23px;
}
.namejuge {
  font-weight: 600;
  font-size: 25px;
}
.ordo_title {
  font-family: Nunito;
  font-size: 25px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.gros_forme {
  font-family: Nunito;
  font-size: 25px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  margin-top: 1%;
  /* margin-left: 30%; */
  text-align: center;
}
.gros_titleordo {
  font-size: 25px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  margin-top: 1%;
  text-align: center;
  font-family: inherit !important;
}
.article_lib {
  font-family: Nunito;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  padding-top: 7px;
  margin-bottom: 15px;
}
.article_lib2 {
  font-family: Nunito;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  font-weight: bold;
}
.article_lib3 {
  font-family: Nunito;
  line-height: 30px;
  letter-spacing: 0em;
  font-weight: bold;
}
.line_decoupe {
  border-bottom: 2px dashed #000000;
  width: 100%;
  -webkit-print-color-adjust: exact !important
}
.decoupe {
  font-size: 20px;
  font-weight: 400;
  line-height: 15px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #666666;
}
.cisso {
  width: 5%;
  margin-left: 10px;
  margin-top: -5px;
}
.rirp_remplir {
  padding: 8px 105px;
  background: #e6e6e6;
  color: #000000;
}
/* /block cabinet juge et rp-ri */
.separator_7 {
  width: 100%;
  height: 7px;
}
.dte_cpit {
  text-transform: capitalize;
}
.notify {
  font-weight: 500;
  line-height: 40px;
}
.date_done {
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: right;
  margin-top: 10px;
  padding-right: 10%;
  width: 100%;
}
.done {
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
}
.ft-italic {
  font-style: italic;
}
.txt_underline {
  border-bottom: 2px dashed #000000;/* f67f21 */
}
.lab_mention {
  text-decoration: underline;
}
.tx-uppcase {
  text-transform: uppercase;
}
.lab_modal {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text_modal);
}
.input_modal {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text_modal);
}
/* botton ss */
.btn_imprimer {
  width: 130px;
  height: 30px;
  border-radius: 8px;
  color: #FFFFFF;
  background: #107C41;
  border-color: #107C41;
  padding: 4px 10px 4px 10px;
  box-shadow: 0px 4px 8px -2px #00000014;
}
.btn_fermer {
  width: 130px;
  height: 30px;
  border-radius: 8px;
  color: #FFFFFF !important;
  background: #CD0508 !important;
  border-color: #CD0508 !important;
  padding: 4px 10px 4px 10px;
  box-shadow: 0px 4px 8px -2px #00000014;
}
.btn_fill {
  width: 130px;
  height: 30px;
  border-radius: 8px;
  margin-top: 1rem;
  padding-top: 3px !important;
  color: #FFFFFF !important;
  background: #0A8DD0 !important;
  border-color: #0A8DD0 !important;
  box-shadow: 0px 4px 8px -2px #00000014;
}
.btn_remplir {
  width: 130px;
  height: 30px;
  border-radius: 8px;
  margin-top: 1rem;
  padding-top: 3px !important;
  color: #FFFFFF !important;
  background: #605BFF !important;
  border-color: #605BFF !important;
  box-shadow: 0px 4px 8px -2px #00000014;
}
.lib_remplir {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.objet {
  font-size: 35px !important;
  margin-left: 5% !important;
  -webkit-print-color-adjust:exact !important
}
.objet-desc {
  font-size: 35px !important;
  font-weight: 500 !important;
  -webkit-print-color-adjust:exact !important
}
/* side right */
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 480px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.modal.right .modal-content {
  height: auto;
  overflow-y: auto;
  background-color: #1f1f1f;
}
.modal.right .modal-body {
  padding: 15px 15px 10px;
}
.modal.right.fade .modal-dialog {
  right: 35%;
  top: 0;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.right.fade.in .modal-dialog {
  right: 0 !important;
}
.cust_card_d {
  background-color: #1f1f1f;
  border: 1px solid #666769 !important;
  padding: 0 10px;
}
.cust_card_w {
  background-color: #f4f4f4;
  border: none !important;
  padding: 0 10px;
}
.cust_card_w .custom-date-w,
.cust_card_w .form-control-w {
  background-color: #fff !important;
}
/* /side right */
.p-inputwrapper-filled {
  width: 130px !important;
}
.p-inputwrapper-filled .initialwd,
.p-inputwrapper-filled .min-200 {
  width: 100% !important;
}
