/* side right */
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 420px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  float: right;
}
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
  background-color: #1f1f1f;
}
.modal.right .modal-body {
  padding: 15px 15px 80px;
}
.modal.right.fade .modal-dialog {
  right: 0px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.right.fade.in .modal-dialog {
  right: 0 !important;
}
.check_left {
  margin-bottom: -10px;
  margin-left: 0.7rem;
}
.cust_card_d {
  background-color: #1f1f1f;
  border: 1px solid #666769 !important;
  padding: 0 10px;
}
.cust_card_w {
  background-color: #f4f4f4;
  border: none !important;
  padding: 0 10px;
}
.form-control-w {
  height: 36px;
  border-radius: 10px;
  background-color: #FFFFFF !important;
  border: 1px solid #ced4da !important;
}
.form-texarea-w {
  border-radius: 10px;
  color: #000000;
  background-color: #FFFFFF !important;
  border: 1px solid #ced4da !important;
}
.div_separate_d {
  width: 100%;
  height: 25px;
  background-color: #1f1f1f;
}
.div_separate_w {
  width: 100%;
  height: 25px;
  background-color: #ffffff;
}
/* search */
.app-search__button {
  left: 0 !important;
  right: auto;
}
.app-search__input {
  padding-left: 30px;
  padding-right: none;
  background-color: var(--bg-searchbar) !important;
}
.btn_filtre {
  width: 87px !important;
  height: 36px !important;
  border-radius: 8px !important;
  background: #FFFFFF !important;
  border: 1px solid #D0D5DD !important;
  box-shadow: 0px 4px 8px -2px #00000014 !important;
}

.cust_row {
  border-radius: 10px;
  background: #fafafa;
  padding: 5px 0;
  margin-left: 4%;
  border: 1px solid #dee2e6;
}
.h-30 {
  height: 27px;
  width: 29px;
  padding-top: 0px;
  padding-left: 3px;
  border-radius: 5px;
}
.btn-remove {
  color: #ffffff;
  background-color: #FD3838 !important;
  border-color: #FD3838 !important;
}
.fs-18 {
  font-size: 18px !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline {
  display: none !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0em .75em 0 .75em !important;
  height: 36px !important;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 4px 8px -2px #00000014;
  background-color: #FFFFFF !important;
  border-radius: 8px !important;
  margin-top: -5px !important ;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  margin-bottom: 0px !important;
  margin-top: -7px !important;
  padding-bottom: .35em !important;
  padding-left: .35em !important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: .25em !important;
  display: none !important;
}
::ng-deep .mat-icon-button {
  outline: none !important;
}
::ng-deep .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  background: #ffffff !important;
}
::ng-deep .cdk-global-overlay-wrapper,
::ng-deep .cdk-overlay-container {
  z-index: 10000 !important;
}
