.auth-content {
    display: flex;
    overflow: hidden;
}
.menu-left {
    left: 0;
    width: 6%;
    height: 100vh;
    text-align: center;
}
.auth-menu {
    width: 36%;
    height: 100vh;
    text-align: center;
}
.tx-deconone {
    text-decoration: none;
}
.txt_underline {
    text-decoration: underline;
}
.bg-left-1 {
    background-color: var(--min-menu-1);
}
.bg-left-2 {
    background-color: var(--min-menu-2);
}
.flat_bottom {
    margin-left: 10px;
    bottom: 20px;
    position: absolute;
}
.txt_detenu {
    margin-top: 20px;
    font-size: 15px;
    color: #475467;
}
.txt_grid {
    color: #343A40;
    font-weight: 800;
    font-size: 20px;
}
.txt_info_d {
    color: #9A9A9A;
}
.cust-card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-radius: 3px !important;
    border: none !important;
}
.align-left {
    text-align: left !important;
}
.ft-w-b {
    font-weight: bolder !important;
}
.c-orange {
    color: #0664FC !important;
}
.c-vert {
    color: #159463 !important;
}
.fs-10 {
    font-size: 10px;
}
.fs-25 {
    font-size: 25px;
}
.w-100 {
    width: 100%;
}
.h-50 {
    height: 30% !important;
}
.min-h40 {
    height: 60px !important;
}
.pt-10 {
    padding-top: 10px;
}
.pt-18 {
    padding-top: 18px;
}
.img-w60 {
    width: 50px;
}
.btn-login {
    background-color: #0664FC;
    border-color: #0664FC;
}
.btn-lose {
    background-color: #000000;
    border-color: #000000;
}
.ml-less20 {
    margin-left: -20px;
}
#password {
  padding: 8px 30px 8px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.eye-icon {
  position: absolute;
  right: 20px;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 25px;
}
.ft-s17 {
  font-size: 20px;
}

.auth-right {
  flex: 1; /* occupe toute la moitié droite */
  display: flex;
}

.auth-right img {
  width: 100%;
  height: 100vh; /* hauteur totale écran */
  object-fit: cover; /* image remplie sans déformation */
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .auth-content {
    flex-direction: column; /* pile verticalement */
  }

  .auth-right {
    display: none; /* cache l'image */
  }

  .auth-menu {
    flex: none;
    width: 100%;
    padding: 1rem;
  }
}
.mb-4 {
    margin-bottom: 0rem !important;
    color: #0664FC;
}