<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '5px',fullScreenBackdrop:true }"></ngx-loading>
<div class="dashboard card">
  <div class="dashboard-cards row g-3 w-100 ">
    <div class="col-12 col-sm-6 col-md-4 col-lg-2_4" *ngFor="let item of dashData">
      <div class="dash-card">
        <div class="icon-wrapper" [ngClass]="item.colorBg">
          <i class="{{ item.icon }}"></i>
        </div>
        <div>
          <h4 class="dash-number">{{ item.value }}</h4>
          <span class="dash-label" [class.text-light]="isDark">{{ item.label }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-3 mb-4">
    <!-- Line Chart -->
    <div class="col-md-8">
      <div class="tile theme-light p_15 chart-card h-100">
        <!-- Header -->
        <div class="chart-header d-flex justify-content-between align-items-center mb-3">
          <h3 class="chart-title mb-0">Taux de fréquentation du jour</h3>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <i class="fa fa-ellipsis-h icon_incuh"></i>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onChangeCritere('1')">
              <img src="assets/images/calendar.png" class="wd_11 me-2"> Par semaine
            </button>
            <button mat-menu-item (click)="onChangeCritere('2')">
              <img src="assets/images/calendar.png" class="wd_11 me-2"> Par mois
            </button>
            <button mat-menu-item (click)="onChangeCritere('3')">
              <img src="assets/images/calendar.png" class="wd_11 me-2"> Par année
            </button>
          </mat-menu>
        </div>
        <!-- Chart -->
        <canvas id="chartLineDetenus" height="70"></canvas>
      </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-md-4">
      <div class="tile theme-light p_15 h-100">
        <!-- Header -->
        <div class="chart-header d-flex justify-content-between align-items-center mb-3">
          <h3 class="chart-title mb-0">Répartition des visites par service</h3>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <i class="fa fa-ellipsis-h icon_incuh"></i>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onChangeCritere('1')">
              <img src="assets/images/calendar.png" class="wd_11 me-2"> Par semaine
            </button>
            <button mat-menu-item (click)="onChangeCritere('2')">
              <img src="assets/images/calendar.png" class="wd_11 me-2"> Par mois
            </button>
            <button mat-menu-item (click)="onChangeCritere('3')">
              <img src="assets/images/calendar.png" class="wd_11 me-2"> Par année
            </button>
          </mat-menu>
        </div>

        <div class="chart-container">
          <!-- Donut -->
          <div class="donut-wrapper">
            <canvas id="pieChartInfraction"></canvas>

            <div class="donut-center" [class]="isDark ? 'c-white' : 'c-black'">
              {{ totalVisites }} <br>
              <small>Total</small>
            </div>
          </div>

          <!-- Légende -->
          <ul class="legend mt-3">
            <li *ngFor="let l of donutLegend">
              <span class="dot" [ngStyle]="{'background': l.color}"></span>
              {{ l.label }} — {{ l.percent }}%
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <!-- Visitors List -->
  <div class="grid-2">
    <div class="card visitors-card">
      <h3>Visiteurs actuellement présents</h3>

      <div class="table-responsive">
        <table class="table visitors-table">
          <thead>
            <tr>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Destination</th>
              <th>Service visité</th>
              <th>Heure d’arrivée</th>
              <th>Statut</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let v of visiteurs2">
              <td>
                <div class="avatar-row">
                  <img [src]="v.photo" class="avatar" />
                  <span>{{ v.prenom }}</span>
                </div>
              </td>
              <td>{{ v.nom }}</td>
              <td>{{ v.dest }}</td>
              <td>{{ v.service }}</td>
              <td>{{ v.heure }}</td>
              <td class="status">{{ v.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- ✅ Version cartes juste en mobile -->
      <div class="mobile-cards" *ngFor="let v of visiteurs2">
        <div class="mobile-card">
          <div class="header">
            <img [src]="v.photo" class="avatar" />
            <div>
              <h4>{{ v.prenom }} {{ v.nom }}</h4>
              <p>{{ v.status }}</p>
            </div>
          </div>

          <div class="body">
            <p><strong>Destination :</strong> {{ v.dest }}</p>
            <p><strong>Service :</strong> {{ v.service }}</p>
            <p><strong>Arrivée :</strong> {{ v.heure }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Next appointments -->
    <div class="card rendezvous-card">
      <h3>Prochains rendez-vous</h3>

      <!-- TABLEAU DESKTOP -->
      <div class="table-responsive">
        <table class="table rdv-table">
          <thead>
            <tr>
              <th>Visiteur</th>
              <th>Motif</th>
              <th>Date</th>
              <th>Heure</th>
              <th>Service / Agent concerné</th>
              <th>Statut</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of prochains">
              <td>
                <div class="avatar-row">
                  <img [src]="p.photo" class="avatar" />
                  <span>{{ p.nom }}</span>
                </div>
              </td>
              <td>{{ p.forme }}</td>
              <td>{{ p.date }}</td>
              <td>{{ p.heure }}</td>
              <td>{{ p.service_agent }}</td>
              <td class="status">{{ p.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- VERSION MOBILE (cartes) -->
      <div class="mobile-cards" *ngFor="let p of prochains">
        <div class="mobile-card">
          <div class="header">
            <img [src]="p.photo" class="avatar" />
            <div>
              <h4>{{ p.nom }}</h4>
              <p class="status-mobile">{{ p.status }}</p>
            </div>
          </div>

          <div class="body">
            <p><strong>Motif :</strong> {{ p.forme }}</p>
            <p><strong>Date :</strong> {{ p.date }}</p>
            <p><strong>Heure :</strong> {{ p.heure }}</p>
            <p><strong>Service / Agent :</strong> {{ p.service_agent }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Buttons -->
  <!-- Footer Buttons -->
  <div class="footer-actions">
  <div class="footer-card">
    <div class="actions">
      <button class="action-btn2" routerLink="/admin/visiteur">
        <i class="mdi mdi-account-plus"></i>
        <span>Ajouter un visiteur</span>
      </button>

      <button class="action-btn2" routerLink="/admin/parametre">
        <i class="mdi mdi-cogs"></i>
        <span>Gérer les paramètres</span>
      </button>

      <button class="action-btn2" routerLink="/admin/rendez-vous">
        <i class="mdi mdi-calendar-check"></i>
        <span>Gérer les rendez-vous</span>
      </button>
    </div>
  </div>

  <div class="footer-card">
    <div class="actions">

      <button class="action-btn2" routerLink="/admin/reclamation">
        <i class="mdi mdi-credit-card-scan"></i>
        <span>Gérer incidents / réclamations</span>
      </button>

      <button class="action-btn2">
        <i class="mdi mdi-credit-card-search"></i>
        <span>Vérifier une pièce d’identité</span>
      </button>

      <button class="action-btn2" routerLink="/admin/rapport">
        <i class="mdi mdi-file-document"></i>
        <span>Consulter les rapports</span>
      </button>

    </div>
  </div>

</div>






</div>


<!-- ±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±± -->
<!-- ±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±± -->
<div class="dashboard" *ngIf="">

  <!-- Stat Cards -->
  <div class="stats-grid">
    <div class="stat-card">
      <i class="mdi mdi-account-group icon"></i>
      <div class="value">{{ totalVics }}</div>
      <p>Total des vics</p>
    </div>

    <div class="stat-card">
      <i class="mdi mdi-swap-horizontal icon"></i>
      <div class="value">{{ visitesEnCours }}</div>
      <p>Visites en cours</p>
    </div>

    <div class="stat-card">
      <i class="mdi mdi-check-all icon"></i>
      <div class="value">{{ visitesTerminees }}</div>
      <p>Visites terminées</p>
    </div>

    <div class="stat-card">
      <i class="mdi mdi-calendar icon"></i>
      <div class="value">{{ rendezvous }}</div>
      <p>Rendez-vous</p>
    </div>

    <div class="stat-card">
      <i class="mdi mdi-alert icon"></i>
      <div class="value">{{ incidents }}</div>
      <p>Incidents féciales</p>
    </div>
  </div>

  <!-- Charts -->
  <div class="charts-grid">
    <div class="card chart-card">
      <h3>Fréquentation journalière</h3>
      <div class="chart-container">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          chartType="line">
        </canvas>
      </div>
    </div>

    <div class="card chart-card">
      <h3>Répartition des visites par service</h3>

      <div class="chart-container">
        <canvas baseChart [data]="pieChartData" [options]="pieChartOptions" chartType="pie">
        </canvas>
      </div>

      <ul class="legend">
        <li><span class="dot blue"></span> Siège — 34%</li>
        <li><span class="dot indigo"></span> Parquet — 47%</li>
        <li><span class="dot cyan"></span> Greffe — 12%</li>
        <li><span class="dot gray"></span> Autres — 7%</li>
      </ul>
    </div>
  </div>

  <!-- Visitors List -->
  <div class="grid-2">
    <div class="card">
      <h3>Liste des visiteurs présents</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Photo</th>
            <th>Nom</th>
            <th>ID</th>
            <th>Destination</th>
            <th>Service</th>
            <th>Contont</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of visiteurs2">
            <td><img [src]="v.photo" class="avatar"></td>
            <td>{{ v.nom }}</td>
            <td>{{ v.id }}</td>
            <td>{{ v.dest }}</td>
            <td>{{ v.service }}</td>
            <td><i class="mdi mdi-pencil edit"></i></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Next appointments -->
    <div class="card">
      <h3>Prochains rendez-vous</h3>

      <table class="table">
        <thead>
          <tr>
            <th>Visiteur</th>
            <th>Forme de visites</th>
            <th>Date</th>
            <th>Heure</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of prochains">
            <td>{{ p.nom }}</td>
            <td>{{ p.forme }}</td>
            <td>{{ p.date }}</td>
            <td>{{ p.heure }}</td>
            <td>{{ p.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Footer Buttons -->
  <div class="actions">
    <button class="btn"><i class="mdi mdi-account-plus"></i> Ajouter un visiteur</button>
    <button class="btn"><i class="mdi mdi-calendar-plus"></i> Créer un rendez-vous</button>
    <button class="btn"><i class="mdi mdi-credit-card-scan"></i> Scanner une pièce</button>
    <button class="btn"><i class="mdi mdi-file-document"></i> Générer un rapport</button>
  </div>

</div>

<!-- ±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±± -->
<!-- ±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±±± -->